.papa_ke_papa{
    /* background-color: aqua; */
    height: 97vh;
    width: 99vw;

}
.nav{
    background-image: linear-gradient(to right,blue,aqua);
    height:20vh;
    width:99vw;
    display: flex;
}
.nav_content{
    /* background-color: aquamarine; */
    /* height:17.5vh; */
    width: 70vw;
}
.nav_title{
    margin-top: 29px;
    margin-left: 45px;
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
}
.nav_content_b{
    margin-top: 7px;
    margin-left: 45px;
      font-size: 27px;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
}
.Get_Started{
    margin-left: 90px;
    margin-top: 60px;
    justify-content: center;
    background-image: linear-gradient(to right,aquamarine,blue);
    border-radius: 20px;
    height: 9vh;
    width: 16vw;
    text-decoration: none; //box pe lagega.
    
}
.letter{
    justify-content: center;
     font-size: 27px;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-top: 13px;
    
}
.papa{
    /* background-color: white; */
    height: 77vh;
    width: 99vw;
}
.left{
      background-color: yellow;
    height: 77vh;
    width: 25vw;
}
.Overview_box{
    margin-top: 40px;
      height: 7vh;
    width: 10vw;
    background-image: linear-gradient(blue,aquamarine);
    text-decoration: none; 
}
.Overview_content{
    justify-content: center;
     font-size: 27px;
    font-family: sans-serif;
    color: black;
    font-weight: 800;
    text-align: center;
    /* margin-top: 13px; */

}