.cardCointainer {
    grid-column: 3/12;
    border: 2px solid black;
    grid-row: 2/15;
}

.cardnav {
    border: 0.7px solid black;
    height: 60px;
    display: flex;
    align-items: center;
    font-size:24px;
    gap:1%;
}
.p{
    text-decoration: ;
}